html{
    margin: 0;
    padding: 0;
}

.container{
   
}

.navbar-container{
    background-color: black;
    width: 100%;
    height: 16vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ul-navbar{
    display:flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: antiquewhite;
    font-size: 30px;
}

.li-navbar:hover{
    background-color: brown;
    transition: .1s ease-in-out;
    transition-delay: 0,5s;
    border-radius: 8px;
}

.a-navbar {
    color: antiquewhite;
    text-decoration: none;
}

.container-content {
    background-color: rgb(51, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.a-content{
    background-color: rgb(175, 173, 173);
    color:black ;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow:  10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img.content{
    height: 30%;
    width: 30%;
}

.container-footer{
    height:10vh ;
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1-footer{
font-size: 40px;
}

.container-content2 {
 background-color:rgb(51, 48, 48);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80vh;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}